BLUE="\e[1;34m%-6s\e[m\n"

# Simple calculator
calc() {
	local result="";
	result="$(printf "scale=10;$*\n" | bc --mathlib | tr -d '\\\n')";
	#                       └─ default (when `--mathlib` is used) is 20
	#
	if [[ "$result" == *.* ]]; then
		# improve the output for decimal numbers
		printf "$result" |
		sed -e 's/^\./0./'        `# add "0" for cases like ".5"` \
		    -e 's/^-\./-0./'      `# add "0" for cases like "-.5"`\
		    -e 's/0*$//;s/\.$//';  # remove trailing zeros
	else
		printf "$result";
	fi;
	printf "\n";
}

# Create a new directory and enter it
mkd() {
	mkdir -p "$@" && cd "$_";
}

# Change working directory to the top-most Finder window location
cdf() { # short for `cdfinder`
	cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

# Determine size of a file or total size of a directory
fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* *;
	fi;
}

update() {
	if [[ "`uname`" == "Darwin" ]]; then
		printf $BLUE "Updating system"
		sudo softwareupdate -i -a

		printf "\n$BLUE" "Updating Mac App Store Applications"
		mas upgrade

		printf "\n$BLUE" "Updating brew"
		brew update
		brew upgrade
		brew cleanup --force --prune=0 -s
		brew cask cleanup
		brew prune

		printf "\n$BLUE" "Updating npm"
		npm install -g npm
		npm update -g

        printf "\n$BLUE" "Updating rust"
        rustup update
	else
		printf $BLUE "Update script only available on OS X"
	fi
}

genpasswd() {
	pwgen -Bs $1 1 | pbcopy | pbpaste; echo "Has been copied to clipboard"
}

quitall() {
	kill $(osascript -e 'tell app "System Events" to unix id of processes where background only is false'|tr -d ,)
}

flac2mp3() {
	for f in *.flac; do
		ffmpeg -i "$f" -ab 320k -map_metadata 0 -id3v2_version 3 "${f[@]/%flac/mp3}"
	done
}
